MESSENGER_PORT=8080
ADMIN_EMAILS=1admin@yandex.ru, 2admin@yandex.ru

POSTGRES_USER=appleaww
POSTGRES_PASSWORD=superpasswordfordb
POSTGRES_DB=messenger_db

CLICKHOUSE_USERNAME=appleaww
CLICKHOUSE_PASSWORD=superpasswordforclickhouse
CLICKHOUSE_DATABASE=default
CLICKHOUSE_PORT=8123
CLICKHOUSE_HOST=localhost
#kafka
CLUSTER_ID=sewwoojfQaW6gTfiWfm0QQ
#analytics
FETCHER_TECHNICAL_METRICS_MAX=15
FETCHER_BUSINESS_METRICS_MAX=5
SCHEDULER_INITIAL_DELAY_MINUTES=0
#grafana
GF_SECURITY_ADMIN_USER=appleaww
GF_SECURITY_ADMIN_PASSWORD=grafanapassword

